@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");
/*horizontal theme server and spacing size*/
:root {
  --HSL-server-icon-size: 35px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
}
#app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-25eVIn foreignObject {
      mask: unset;
      border-radius: 5px!important;
}
.pill-ZqtR4i {
    width: 2.3px!important;
}
.item-2hkk8m {
    max-width: 2.3px;
}
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

:root {
	--accent-hue: 224;
	--accent-saturation: 71%;
	--accent-lightness: 61%;
	--accent-text-color: #fff;
	--accent-button-action: #fff; /*	-	*/

	--avatar-radius: 50%; /*	-	*/

	--message-radius: 19px;
	--message-padding-top: 8px;
	--message-padding-side: 12px; /*	-	*/

	--media-radius: 19px; /*	-	*/

	--card-radius: 8px;
	--card-radius-big: 18px; /*	-	*/

	--popout-radius: 8px;
	--popout-radius-big: 18px;
}
